* {
    box-sizing: border-box;
}

body {
    color: #eeeeee;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

p {
    margin: 0;
    font-size: .6rem;
}


/* MAIN CONTAINER */

.container {
    background-color: #121212;
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
}




/**** HEADER SECTION ****/

header {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url(../images/header.avif) rgba(18, 18, 18, 0.6);
    background-size: cover;
    background-position: top 25% left;
    background-blend-mode: multiply;
    height: 200px;
    padding: 0 1rem;
    text-shadow: 1px 1px 3px #000;
}

.title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 800;
}

.header-link {
    color: #c5c5c5;
    text-decoration: none;
    font-weight: bold;
}

.header-link:hover,
.header-link:focus {
    color: #ffffff;
}

form {
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    width: 90%;
}

.search {
    color: #A5A5A5;
    background: url(../images/search.png) top left no-repeat;
    background-position: .5rem;
    background-color: #2E2E2F;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 4px 0 0 4px;
    height: 2.5rem;
    padding-left: 2rem;
    width: 70%;
}

.btn-search {
    color: #A5A5A5;
    background-color: #4B4B4B;
    border: none;
    border-radius: 0 4px 4px 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    height: 2.5rem;
    padding: 0 1rem;
    width: 30%;
}







/**** MAIN SECTION ****/

main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Starting message */

.exploring-message {
    color: #686868;
    font-size: 1.3rem;
    margin-top: 1rem;
}


/* search results layout */

.search-result-container {
    display: flex;
    width: 90%;
}

.movie-poster {
    width: 90px;
    margin-right: .9rem;
}

.movie-header {
    display: flex;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.movie-sub-info {
    display: flex;
}

.runtime-info {
    margin: 0 1rem;
}

.icon {
    width: 20px;
    padding-right: .3rem;
}

.add-watchlist {
    display: flex;
    align-items: center;
}

.add-watchlist:hover,
.add-watchlist:focus {
    color: #00a010;
    cursor: pointer;
}

.remove-watchlist {
    display: flex;
    align-items: center;
}

.remove-watchlist:hover,
.remove-watchlist:focus {
    color: #e20606;
    cursor: pointer;
}

.added-watchlist {
    display: flex;
    align-items: center;
}

.movie-title {
    font-size: .7rem;
    margin: 0 1rem 0 0;
}

.plot {
    margin-top: .5rem;
}

.divider {
    border: none;
    border-top: 2px solid #2c2c2c;
    width: 90%;
    margin: 1rem 0;
}

.added-msg {
    color: #b3b3b3;
}

.search-message {
    margin-top: 1rem;
    color: #686868;
    font-size: 1.2rem;
    text-decoration: none;
}

.search-message:hover {
    font-size: 1.3rem;
}


/**** MEDIA QUERIES ****/

@media (max-width:300px) {

    /**** HEADER SECTION ****/
    header {
        padding: 0 .5rem;
    }

    form {
        width: 90%;
    }

    .search {
        width: 70%;
    }

    .btn-search {
        width: 30%;
    }

    .title {
        font-size: 1.3rem;
    }
    
    .header-link {
        font-size: .7rem;
    }

    /**** MAIN SECTION ****/

    .movie-poster {
        width: 80px;
        align-self: center;
    }
}   




@media (min-width: 540px){
    p {
        font-size: 0.8rem;
    }

    .container {
        max-width: 100vw;
    }

    /**** HEADER SECTION ****/

    header {
        padding: 0 4rem;
    }

    form {
        max-width: 60%;
    }
    
    .title {
        font-size: 2.5rem;
    }

    .search {
        width: 75%;
    }

    .btn-search {
        width: 25%;
    }

    /**** MAIN SECTION ****/

    .search-result-container {
        width: 500px;
    }

    .movie-poster {
        width: 120px;
    }

    .movie-title {
        font-size: 1rem;
    }

    .divider {
        max-width: 500px;
    }


}